In [1]:
import numpy as np
import pandas as pd

In [2]:
#series
marks = pd.Series([10,20,30],index=["python","DSA","dbms"])
marks

python    10
DSA       20
dbms      30
dtype: int64

In [3]:
marks.keys()

Index(['python', 'DSA', 'dbms'], dtype='object')

In [4]:
marks.values

array([10, 20, 30], dtype=int64)

In [5]:
pd.Series(["Yashvi","yashvi@gmail.com","vadodara"],["sname","mail","add"])

sname              Yashvi
mail     yashvi@gmail.com
add              vadodara
dtype: object

In [6]:
my_dict = {'sname':'Yashvi',
           'mail': 'yashvi@gmail.com',
           'add' : 'vadodara'}
pd.Series(my_dict)

sname              Yashvi
mail     yashvi@gmail.com
add              vadodara
dtype: object

In [7]:
#dataframe #data,index=[],columns={}
np.random.seed(1) #lock the values 

mat = np.random.randint(0,100,(5,5))

result = pd.DataFrame(mat,['yashvi','vansh','faku','sahaj','dev'],['python','dsa','dbms','ooad','stb'])
result

        python  dsa  dbms  ooad  stb
yashvi      37   12    72     9   75
vansh        5   79    64    16    1
faku        76   71     6    25   50
sahaj       20   18    84    11   28
dev         29   14    50    68   87

In [8]:
#for multiple columns, double square brackets
result [['python','dsa']]

        python  dsa
yashvi      37   12
vansh        5   79
faku        76   71
sahaj       20   18
dev         29   14

In [9]:
result.loc[['faku','yashvi']]

        python  dsa  dbms  ooad  stb
faku        76   71     6    25   50
yashvi      37   12    72     9   75

In [10]:
result['total']=result['python']+result['dsa']+result['dbms']+result['ooad']+result['stb']
result['percentage'] = result['total']/5 
#result.drop('percentage',axis=1, inplace=True) #to delete a column .drop() is used #inplace is used to delete permanently
#result.drop('dev') #to delete row
result

        python  dsa  dbms  ooad  stb  total  percentage
yashvi      37   12    72     9   75    205        41.0
vansh        5   79    64    16    1    165        33.0
faku        76   71     6    25   50    228        45.6
sahaj       20   18    84    11   28    161        32.2
dev         29   14    50    68   87    248        49.6

In [11]:
result.describe()

,python,dsa,dbms,ooad,stb,total,percentage
count,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000
mean,33.400000,38.800000,55.200000,25.800000,48.20000,201.400000,40.280000
std,26.613906,33.237028,30.152943,24.386472,34.86689,38.240031,7.648006
min,5.000000,12.000000,6.000000,9.000000,1.00000,161.000000,32.200000
25%,20.000000,14.000000,50.000000,11.000000,28.00000,165.000000,33.000000
50%,29.000000,18.000000,64.000000,16.000000,50.00000,205.000000,41.000000
75%,37.000000,71.000000,72.000000,25.000000,75.00000,228.000000,45.600000
max,76.000000,79.000000,84.000000,68.000000,87.00000,248.000000,49.600000

In [12]:
result.head()

        python  dsa  dbms  ooad  stb  total  percentage
yashvi      37   12    72     9   75    205        41.0
vansh        5   79    64    16    1    165        33.0
faku        76   71     6    25   50    228        45.6
sahaj       20   18    84    11   28    161        32.2
dev         29   14    50    68   87    248        49.6

In [13]:
result.head(2)

        python  dsa  dbms  ooad  stb  total  percentage
yashvi      37   12    72     9   75    205        41.0
vansh        5   79    64    16    1    165        33.0

In [14]:
result.tail()

        python  dsa  dbms  ooad  stb  total  percentage
yashvi      37   12    72     9   75    205        41.0
vansh        5   79    64    16    1    165        33.0
faku        76   71     6    25   50    228        45.6
sahaj       20   18    84    11   28    161        32.2
dev         29   14    50    68   87    248        49.6

In [15]:
result.tail(3)

       python  dsa  dbms  ooad  stb  total  percentage
faku       76   71     6    25   50    228        45.6
sahaj      20   18    84    11   28    161        32.2
dev        29   14    50    68   87    248        49.6

In [16]:
result.iloc[3]

python         20.0
dsa            18.0
dbms           84.0
ooad           11.0
stb            28.0
total         161.0
percentage     32.2
Name: sahaj, dtype: float64

In [17]:
result.loc['printa']=[50,56,41,29,30,200]
result #to add row

<class 'ValueError'>: cannot set a row with mismatched columns

In [18]:
#1
pname = ['abc','def','ghi','jkl','mno']
pid = [1,2,3,4,5]
pprice = [100,200,300,350,400]


demo = pd.DataFrame((pname,pid,pprice),['name','id','price'])
demo

         0    1    2    3    4
name   abc  def  ghi  jkl  mno
id       1    2    3    4    5
price  100  200  300  350  400

In [19]:
#2Extract one by one column and display separately from above dataframe
demo[0]

name     abc
id         1
price    100
Name: 0, dtype: object

In [20]:
demo[1]

name     def
id         2
price    200
Name: 1, dtype: object

In [21]:
demo[2]

name     ghi
id         3
price    300
Name: 2, dtype: object

In [22]:
demo[3]

name     jkl
id         4
price    350
Name: 3, dtype: object

In [23]:
demo[4]

name     mno
id         5
price    400
Name: 4, dtype: object

In [24]:
#3
demo.loc[['id','name','price']]

         0    1    2    3    4
id       1    2    3    4    5
name   abc  def  ghi  jkl  mno
price  100  200  300  350  400

In [25]:
#demo[[0,1,2,3,4]]

In [26]:
demo.iloc[2]

0    100
1    200
2    300
3    350
4    400
Name: price, dtype: object

In [27]:
#4
demo.loc['name']

0    abc
1    def
2    ghi
3    jkl
4    mno
Name: name, dtype: object

In [28]:
demo.iloc[1:4]

         0    1    2    3    4
id       1    2    3    4    5
price  100  200  300  350  400

In [29]:
#5
demo.iloc[1:3]

         0    1    2    3    4
id       1    2    3    4    5
price  100  200  300  350  400

In [30]:
np.random.seed(1) #lock the values 

mat = np.random.randint(0,100,(5,5))

temp = pd.DataFrame(mat,['yashvi','vansh','faku','sahaj','dev'],['python','dsa','dbms','ooad','stb'])
temp.sum()/5

python    33.4
dsa       38.8
dbms      55.2
ooad      25.8
stb       48.2
dtype: float64

In [31]:
#8 change marks in python column to 41 for students who have scored less than 40
temp.loc[temp['python']<40, 'python'] = 41
temp

        python  dsa  dbms  ooad  stb
yashvi      41   12    72     9   75
vansh       41   79    64    16    1
faku        76   71     6    25   50
sahaj       41   18    84    11   28
dev         41   14    50    68   87

In [32]:
#9
temp = temp + 20
temp

        python  dsa  dbms  ooad  stb
yashvi      61   32    92    29   95
vansh       61   99    84    36   21
faku        96   91    26    45   70
sahaj       61   38   104    31   48
dev         61   34    70    88  107

In [33]:
temp[temp>100] = 100
temp

        python  dsa  dbms  ooad  stb
yashvi      61   32    92    29   95
vansh       61   99    84    36   21
faku        96   91    26    45   70
sahaj       61   38   100    31   48
dev         61   34    70    88  100

In [34]:
#10
temp[(temp['python']>50) & (temp['dsa']>60)]

       python  dsa  dbms  ooad  stb
vansh      61   99    84    36   21
faku       96   91    26    45   70

In [35]:
#11
temp[temp.index.str.startswith('s')]

       python  dsa  dbms  ooad  stb
sahaj      61   38   100    31   48

In [36]:
#12
temp[temp.index.str.endswith('i')]

        python  dsa  dbms  ooad  stb
yashvi      61   32    92    29   95

In [37]:
#13
print(temp.sum())
temp.sum()/5

python    340
dsa       294
dbms      372
ooad      229
stb       334
dtype: int64

python    68.0
dsa       58.8
dbms      74.4
ooad      45.8
stb       66.8
dtype: float64

In [38]:
#14 Calculate Status (PASS / FAIL) for the Students.
result['result'] = np.where(result['percentage']<35,'fail','pass')
result

        python  dsa  dbms  ooad  stb  total  percentage result
yashvi      37   12    72     9   75    205        41.0   pass
vansh        5   79    64    16    1    165        33.0   fail
faku        76   71     6    25   50    228        45.6   pass
sahaj       20   18    84    11   28    161        32.2   fail
dev         29   14    50    68   87    248        49.6   pass

In [39]:
#16
result.describe()

,python,dsa,dbms,ooad,stb,total,percentage
count,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000
mean,33.400000,38.800000,55.200000,25.800000,48.20000,201.400000,40.280000
std,26.613906,33.237028,30.152943,24.386472,34.86689,38.240031,7.648006
min,5.000000,12.000000,6.000000,9.000000,1.00000,161.000000,32.200000
25%,20.000000,14.000000,50.000000,11.000000,28.00000,165.000000,33.000000
50%,29.000000,18.000000,64.000000,16.000000,50.00000,205.000000,41.000000
75%,37.000000,71.000000,72.000000,25.000000,75.00000,228.000000,45.600000
max,76.000000,79.000000,84.000000,68.000000,87.00000,248.000000,49.600000

In [40]:
result.to_json('result.json')

In [41]:
result.to_excel('result.xlsx')

<class 'ModuleNotFoundError'>: No module named 'openpyxl'

In [42]:
result.to_html('result.html')

In [43]:
#17
result.dtypes

python          int32
dsa             int32
dbms            int32
ooad            int32
stb             int32
total           int32
percentage    float64
result         object
dtype: object

In [44]:
#18
result.to_dict (orient = 'list')

{'python': [37, 5, 76, 20, 29],
 'dsa': [12, 79, 71, 18, 14],
 'dbms': [72, 64, 6, 84, 50],
 'ooad': [9, 16, 25, 11, 68],
 'stb': [75, 1, 50, 28, 87],
 'total': [205, 165, 228, 161, 248],
 'percentage': [41.0, 33.0, 45.6, 32.2, 49.6],
 'result': ['pass', 'fail', 'pass', 'fail', 'pass']}

In [45]:
#task2
#2
sal = pd.read_csv('Salaries.csv')

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'Salaries.csv'

In [46]:
sal

<class 'NameError'>: name 'sal' is not defined

In [47]:
#3
sal.head()

<class 'NameError'>: name 'sal' is not defined

In [48]:
#4
sal.info()

<class 'NameError'>: name 'sal' is not defined

In [49]:
#extra
sal = sal.replace('Not Provided',np.nan)
sal = sal.replace('Not provided',np.nan)
sal

<class 'NameError'>: name 'sal' is not defined

In [50]:
#5
sal['BasePay']=sal['BasePay'].astype('float')

<class 'NameError'>: name 'sal' is not defined

In [51]:
sal['BasePay'].mean()

<class 'NameError'>: name 'sal' is not defined

In [52]:
#6
sal['OvertimePay']=sal['OvertimePay'].astype('float')
sal['OvertimePay'].max()

<class 'NameError'>: name 'sal' is not defined

In [53]:
#7
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

<class 'NameError'>: name 'sal' is not defined

In [54]:
#8
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

<class 'NameError'>: name 'sal' is not defined

In [55]:
#9
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

<class 'NameError'>: name 'sal' is not defined

In [56]:
#or
sal.loc[sal['TotalPayBenefits'].idxmax()]

<class 'NameError'>: name 'sal' is not defined

In [57]:
#10
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

<class 'NameError'>: name 'sal' is not defined

In [58]:
#or
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

<class 'NameError'>: name 'sal' is not defined

In [59]:
#11
sal.groupby('Year').mean()['BasePay']

<class 'NameError'>: name 'sal' is not defined

In [60]:
#12
sal['JobTitle'].nunique()

<class 'NameError'>: name 'sal' is not defined

In [61]:
#13
sal['JobTitle'].value_counts().head(5)

<class 'NameError'>: name 'sal' is not defined

In [62]:
#14
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

<class 'NameError'>: name 'sal' is not defined

In [63]:
#15
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [64]:
#16
sal['title_len'] = sal['JobTitle'].apply(len)

<class 'NameError'>: name 'sal' is not defined

In [65]:
sal[['title_len','TotalPayBenefits']].corr()

<class 'NameError'>: name 'sal' is not defined